.orange-color{
    color: orange;
}
.explore-btn{
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}
.half-width{
    width: 50%;
  
}
.first-section{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}
.container{
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 90px;
}
.image{
   width: 400px; 
   margin-left: 100px; 
}

.side-border{
    border-left: 5px solid #FF5959;
    padding-left: 10px;
}
.mission{
    display: flex;
}

.background-1{
    width: 360px;
    height: 300px;
    margin: 40px;
    background-color: rgba(79, 157, 166, 0.1);;
    border-radius: 20px;
    padding: 20px;
}

.background-2{
    width: 360px;
    height: 300px;
    margin: 40px;
    background-color: rgba(255, 89, 89, 0.1);;
    border-radius: 20px;
    padding: 20px;
}
.background-3{
    width: 360px;
    height: 300px;
    margin: 40px;
    background-color:  #FFF4D6;;
    border-radius: 20px;
    padding: 20px;
}
.my-mission{
   text-align: center;
   font-size: 30px;
   font-weight: bold;
}

.second-section{
   padding-left: 100px;
   padding-right: 100px;
}

.third-section{
    display: flex;
}
.third-container{
    background-image: url('../img/shape-1.png');
    background-size: 200px;
    background-position:left;
    background-repeat: no-repeat;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 90px;
    margin-top: 50px;
}
.width-1{
    width: 25%;
}
.width-2{
 width: 75%;
}
.text-justify{
    text-align: justify;
}

.fourth-container{
    
    margin-top: 100px;
    display: flex;
    padding-left: 200px;  
    margin-bottom: 100px;

}
.text-bold{
    font-weight: bold ;
    
}
.shape{
    background-image: url('../img/shape-1.png');
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: bottom;
}

/* extra section */
.extra h2{
 text-align: center;
}

.extra{
    margin-top: 20px;
    text-align: center;
}
.best-services-section{
    display: flex;
    margin-left: 250px;
}

.services{
    margin-top: 70px;
}

footer{
    text-align: center;
    background-color: black;
    color:#ffff; 
    padding: 5px;
}